<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="Sistema/pasajero" routerLinkActive="active" class="nav-link">Pasajeros</a>
    </li>
    <li class="nav-item">
      <a routerLink="Sistema/reserva" routerLinkActive="active" class="nav-link">Reserva</a>
    </li>
    <li class="nav-item">
      <a routerLink="Sistema/vuelo" routerLinkActive="active" class="nav-link">Vuelos</a>
    </li>
    <li class="nav-item">
      <a routerLink="Sistema/boleto" routerLinkActive="active" class="nav-link">Boletos</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
  