/* You can add global styles to this file, and also import other style files */
.fondo-imagen {
    background-image: url("assets/avionn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-family: Georgia;
  }
  
  
